<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.mapper.CourseMapper">

    <!--- find api -->
    <select id="list" resultMap="listResultMap">
        SELECT * FROM ssm.courses
        <where>
            <if test="id != null">
                courses.id = #{id}
            </if>
            <if test="userId != null">
                courses.user_id = #{userId}
            </if>
            <if test="name != null">
                courses.name = #{name}
            </if>
            <if test="intro != null">
                courses.intro = #{intro}
            </if>
        </where>
    </select>

    <resultMap id="listResultMap" type="com.henry.model.course.Output">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="intro" column="intro"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>

</mapper>